.logo {
    // 4. We do set up the logo
    height: 3.25rem;
    margin-left: 3.25rem;
}

// 6. User navigation bar
.user-nav {
    display: flex;
    align-items: center;
    align-self: stretch;

    & > * {
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover {
        background-color: var(--color-grey-light-2);
    }

    &__icon-box {
        position: relative;
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--color-grey-dark-2);
    }

    &__notification {
        font-size: .8rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-primary);
        color: #fff;
        position: absolute;
        top: 1.5rem;
        left: 3.3rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {

    }

    &__user-photo {
        height: 3.75rem;
        border-radius: 50%;
    }

    &__username {

    }
}

// 5. Formation of search bar(Kindly refer the video 'Building the header part 2')
.search {
    flex: 0 0 40%;

    display: flex;
    align-items: center;
    justify-content: center;

    &__input {
        // The main reason we do set font-family and font-size as inherit is bcoz these both properties don't inherit their parents' properties.;
        font-family: inherit;
        font-size: inherit;

        color: inherit;

        // background property of search input bar.
        background-color: var(--color-grey-light-2);

        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all 0.2s;
        margin-right: -3.5rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: var(--color-grey-light-3);
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
        }
    }

    &__input:focus + &__button {
        background-color: var(--color-grey-light-3);
    }

    &__button {
        border: none;
        background-color: var(--color-grey-light-2);

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: var(--color-grey-dark-3);
    }
}