.container {
    // Basic Setup
    // The main reason we chose max-width over width is bcoz whenever the width is lesser than 1280px, it covers 100% width of the viewport.
    max-width: 128rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }
}

.header {
    // Basic Setup
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    // 1. So the logo, search bar and the notification bar gets aligned horizontally.(Building the header)
    display: flex;

    // 2. Using this property we align all those three child components together.
    justify-content: space-between;

    // 3. We align these three child-components on the center position.(Now refer component.scss)
    align-items: center;
}

.content {
    //1. We do set the parent container property i.e. display as flex.
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
    }
}

.sidebar {
    // Basic Setup
    background-color: var(--color-grey-dark-1);

    // 2. We now setup the child flex property.
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    // Basic Setup
    background-color: #fff;
    height: 90rem;

    // 2. Child flex property.
    flex: 1;
}

.detail {
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-3);
    border-bottom: 1px solid var(--color-grey-light-2);
    padding-bottom: 7.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

.user-reviews {
    flex: 1;
}